{{>header}}
<section class="section_guestCart">
    <div class="guestCart_titles">
        <h1>Your bag is empty.</h1>
        <p>Sign in to see if you have any added items. Or continue shopping.</p>
    </div>
    <div class="guestCart_links">
        <a href="/login">Sign In</a>
        <a href="/products">Continue Shopping</a>
    </div>
</section>
{{>cartHelp}}
{{>cartNews}}
{{>footer}}