{{> header}}
<main>
    <section class="section_home_mac">
        <div class="mac_container">
            <div class="mac_texts">
                <div class="mac_titles">
                    <h2>MacBook Air</h2>
                    <h3>Lean. Mean. M3 machine.</h3>
                    <span>Available starting 3.8</span>
                </div>
                <div class="mac_link">
                    <a href="/products">Buy</a>
                </div>
            </div>
            <div class="mac_img">
                <img id="appleMacBookAir_img_desktop" src="../assets/images/home/apple_macbook_air_m3_announce.jpg" alt="Mac Announce">
                <img id="appleMacBookAir_img_mobile" src="../assets/images/home/apple_macbook_air_m3_responsive_announce.jpg" alt="Mac Announce">
            </div>
        </div>
    </section>
    <section class="section_home_airpods">
        <div class="airpods_container">
            <div class="airpods_text">
                <div class="airpods_titles">
                    <h2>AirPods Pro</h2>
                    <h3><span>Adaptive Audio.</span> Now playing.</h3>
                </div>
                <div class="airpods_link">
                    <a href="/products">Buy</a>
                </div>
            </div>
            <div class="airpods_img">
                <img id="appleAirpods_img_desktop" src="../assets/images/home/apple_airpods_pro_announce.jpg" alt="Airpods Announce">
                <img id="appleAirpods_img_mobile" src="../assets/images/home/apple_airpods_pro_responsive_announce.jpg" alt="Airpods Announce">
            </div>
        </div>
    </section>
    <section class="section_home_visionPro">
        <div class="visionPro_container">
            <div class="visionPro_text">
                <div class="visionPro_titles">
                    <h2><svg height="44" viewBox="0 0 14 44" width="14" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m13.0729 17.6825a3.61 3.61 0 0 0 -1.7248 3.0365 3.5132 3.5132 0 0 0 2.1379 3.2223 8.394 8.394 0 0 1 -1.0948 2.2618c-.6816.9812-1.3943 1.9623-2.4787 1.9623s-1.3633-.63-2.613-.63c-1.2187 0-1.6525.6507-2.644.6507s-1.6834-.9089-2.4787-2.0243a9.7842 9.7842 0 0 1 -1.6628-5.2776c0-3.0984 2.014-4.7405 3.9969-4.7405 1.0535 0 1.9314.6919 2.5924.6919.63 0 1.6112-.7333 2.8092-.7333a3.7579 3.7579 0 0 1 3.1604 1.5802zm-3.7284-2.8918a3.5615 3.5615 0 0 0 .8469-2.22 1.5353 1.5353 0 0 0 -.031-.32 3.5686 3.5686 0 0 0 -2.3445 1.2084 3.4629 3.4629 0 0 0 -.8779 2.1585 1.419 1.419 0 0 0 .031.2892 1.19 1.19 0 0 0 .2169.0207 3.0935 3.0935 0 0 0 2.1586-1.1368z">
                            </path>
                        </svg><span>Vision Pro</span></h2>
                    <h3>Welcome to the era of spatial computing.</h3>
                </div>
                <div class="visionPro_link">
                    <a href="/products">Buy</a>
                </div>
            </div>
            <div class="visionPro_img">
                <img id="appleVisionPro_img_desktop" src="../assets/images/home/apple_vision_pro_announce.jpg" alt="Apple Vision Pro Announce">
                <img id="appleVisionPro_img_mobile" src="../assets/images/home/apple_vision_pro_responsive_announce.jpg" alt="Apple Vision Pro Announce">
            </div>
        </div>
    </section>
    <div class="grid_home">
        <section class="section_home_iphone15Pro">
            <div class="iphone15Pro_text">
                <div class="iphone15Pro_titles">
                    <h4>iPhone 15 Pro</h4>
                    <h5>Titanium. So strong. So light. So Pro.</h5>
                </div>
                <div class="iphone15Pro_link">
                    <a href="/products">Buy</a>
                </div>
            </div>
            <div class="iphone15Pro_img">
                <img id="appleIphone15Pro_img_desktop" src="../assets/images/home/apple_iphone15_pro_v2_announce.jpg" alt="Apple iPhone 15 Pro Announce">
                <img id="appleIphone15Pro_img_mobile" src="../assets/images/home/apple_iphone15_pro_responsive_announce.jpg" alt="Apple iPhone 15 Pro Announce">
            </div>
        </section>
        <section class="section_home_iphone15">
            <div class="iphone15_text">
                <div class="iphone15_titles">
                    <h4>iPhone 15</h4>
                    <h5>New camera. New design. Newphoria.</h5>
                </div>
                <div class="iphone15_link">
                    <a href="/products">Buy</a>
                </div>
            </div>
            <div class="iphone15_img">
                <img id="appleIphone15_img_desktop" src="../assets/images/home/apple_iphone15_v2_announce.jpg" alt="Apple iPhone 15 Announce">
                <img id="appleIphone15_img_mobile" src="../assets/images/home/apple_iphone15_responsive_announce.jpg" alt="Apple iPhone 15 Announce">
            </div>
        </section>
        <section class="section_home_watch">
            <div class="watch_text">
                <div class="watch_titles">
                    <h4><svg height="44" viewBox="0 0 14 44" width="14" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m13.0729 17.6825a3.61 3.61 0 0 0 -1.7248 3.0365 3.5132 3.5132 0 0 0 2.1379 3.2223 8.394 8.394 0 0 1 -1.0948 2.2618c-.6816.9812-1.3943 1.9623-2.4787 1.9623s-1.3633-.63-2.613-.63c-1.2187 0-1.6525.6507-2.644.6507s-1.6834-.9089-2.4787-2.0243a9.7842 9.7842 0 0 1 -1.6628-5.2776c0-3.0984 2.014-4.7405 3.9969-4.7405 1.0535 0 1.9314.6919 2.5924.6919.63 0 1.6112-.7333 2.8092-.7333a3.7579 3.7579 0 0 1 3.1604 1.5802zm-3.7284-2.8918a3.5615 3.5615 0 0 0 .8469-2.22 1.5353 1.5353 0 0 0 -.031-.32 3.5686 3.5686 0 0 0 -2.3445 1.2084 3.4629 3.4629 0 0 0 -.8779 2.1585 1.419 1.419 0 0 0 .031.2892 1.19 1.19 0 0 0 .2169.0207 3.0935 3.0935 0 0 0 2.1586-1.1368z">
                            </path>
                        </svg>WATCH</h4>
                    <span>SERIES 9</span>
                    <h5>Smarter. Brighter. Mightier.</h5>
                </div>
                <div class="watch_link">
                    <a href="/products">Buy</a>
                </div>
            </div>
            <div class="watch_img">
                <img id="appleWatch_img_desktop" src="../assets/images/home/apple_watch_series_9_v2_announce.jpg" alt="Apple Watch Series 9 Announce">
                <img id="appleWatch_img_mobile" src="../assets/images/home/apple_watch_series_9_responsive_announce.jpg" alt="Apple Watch Series 9 Announce">
            </div>
        </section>
        <section class="section_home_ipad">
            <div class="ipad_text">
                <div class="ipad_titles">
                    <h4>iPad</h4>
                    <h5>Lovable. Drawable. Magical.</h5>
                </div>
                <div class="ipad_link">
                    <a href="/products">Buy</a>
                </div>
            </div>
            <div class="ipad_img">
                <img id="appleIpad_img_desktop" src="../assets/images/home/apple_ipad_v2_announce.jpg" alt="Apple Watch Series 9 Announce">
                <img id="appleIpad_img_mobile" src="../assets/images/home/apple_ipad_responsive_announce.jpg" alt="Apple Watch Series 9 Announce">
            </div>
        </section>
        <section class="section_home_giftCard">
            <div class="giftCard_text">
                <div class="giftCard_titles">
                    <h4><svg height="44" viewBox="0 0 14 44" width="14" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m13.0729 17.6825a3.61 3.61 0 0 0 -1.7248 3.0365 3.5132 3.5132 0 0 0 2.1379 3.2223 8.394 8.394 0 0 1 -1.0948 2.2618c-.6816.9812-1.3943 1.9623-2.4787 1.9623s-1.3633-.63-2.613-.63c-1.2187 0-1.6525.6507-2.644.6507s-1.6834-.9089-2.4787-2.0243a9.7842 9.7842 0 0 1 -1.6628-5.2776c0-3.0984 2.014-4.7405 3.9969-4.7405 1.0535 0 1.9314.6919 2.5924.6919.63 0 1.6112-.7333 2.8092-.7333a3.7579 3.7579 0 0 1 3.1604 1.5802zm-3.7284-2.8918a3.5615 3.5615 0 0 0 .8469-2.22 1.5353 1.5353 0 0 0 -.031-.32 3.5686 3.5686 0 0 0 -2.3445 1.2084 3.4629 3.4629 0 0 0 -.8779 2.1585 1.419 1.419 0 0 0 .031.2892 1.19 1.19 0 0 0 .2169.0207 3.0935 3.0935 0 0 0 2.1586-1.1368z">
                            </path>
                        </svg>Card</h4>
                    <h5>Get up to 3% Daily Cash back <br>with every purchase.</h5>
                </div>
                <div class="giftCard_link">
                    <a href="/products">Buy</a>
                </div>
            </div>
            <div class="giftCard_img">
                <img id="appleGiftCard_img_desktop" src="../assets/images/home/apple_gift_card_v2_announce.jpg" alt="Apple Gift Card Announce">
                <img id="appleGiftCard_img_mobile" src="../assets/images/home/apple_gift_card_responsive_announce.jpg" alt="Apple Gift Card Announce">
            </div>
        </section>
        <section class="section_home_tradeIn">
            <div class="tradeIn_text">
                <div class="tradeIn_titles">
                    <h4><svg height="44" viewBox="0 0 14 44" width="14" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m13.0729 17.6825a3.61 3.61 0 0 0 -1.7248 3.0365 3.5132 3.5132 0 0 0 2.1379 3.2223 8.394 8.394 0 0 1 -1.0948 2.2618c-.6816.9812-1.3943 1.9623-2.4787 1.9623s-1.3633-.63-2.613-.63c-1.2187 0-1.6525.6507-2.644.6507s-1.6834-.9089-2.4787-2.0243a9.7842 9.7842 0 0 1 -1.6628-5.2776c0-3.0984 2.014-4.7405 3.9969-4.7405 1.0535 0 1.9314.6919 2.5924.6919.63 0 1.6112-.7333 2.8092-.7333a3.7579 3.7579 0 0 1 3.1604 1.5802zm-3.7284-2.8918a3.5615 3.5615 0 0 0 .8469-2.22 1.5353 1.5353 0 0 0 -.031-.32 3.5686 3.5686 0 0 0 -2.3445 1.2084 3.4629 3.4629 0 0 0 -.8779 2.1585 1.419 1.419 0 0 0 .031.2892 1.19 1.19 0 0 0 .2169.0207 3.0935 3.0935 0 0 0 2.1586-1.1368z">
                            </path>
                        </svg>Trade In</h4>
                    <h5>Get $180-$630 in credit when <br>you trade in iPhone 11 or higher.</h5>
                </div>
                <div class="tradeIn_link">
                    <a href="/products">Buy</a>
                </div>
            </div>
            <div class="tradeIn_img">
                <img id="appleTradeIn_img_desktop" src="../assets/images/home/apple_trade_in_v2_announce.jpg" alt="Apple Trade In Announce">
                <img id="appleTradeIn_img_mobile" src="../assets/images/home/apple_trade_in_responsive_announce.jpg" alt="Apple Trade In Announce">
            </div>
        </section>
    </div>
</main>
{{>footer}}
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"
    integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg"
    crossorigin="anonymous"></script>