<section class="section_registerSuccess">
    <div class="registerSuccess_container">
        <div class="registerSuccess">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102 102" preserveAspectRatio="xMidYMid meet">
                <defs>
                    <clipPath id="__lottie_element_61">
                        <rect width="102" height="102" x="0" y="0"></rect>
                    </clipPath>
                    <clipPath id="__lottie_element_63">
                        <path d="M0,0 L204,0 L204,204 L0,204z"></path>
                    </clipPath>
                    <clipPath id="__lottie_element_67">
                        <path fill="#ffffff" clip-rule="nonzero"
                            d=" M965.93798828125,488.5 C975.2639770507812,488.5 980.4229736328125,484.6409912109375 986.0180053710938,476.0610046386719 C986.0180053710938,476.0610046386719 1149.9940185546875,220.593994140625 1149.9940185546875,220.593994140625 C1153.3509521484375,215.3719940185547 1159.9520263671875,203.61500549316406 1159.7740478515625,197.6490020751953 C1159.4210205078125,185.85699462890625 1148.447998046875,178.01499938964844 1138.4439697265625,178.6540069580078 C1130.998046875,179.1300048828125 1122.657958984375,185.9010009765625 1117.06298828125,194.10800170898438 C1117.06298828125,194.10800170898438 964.4459838867188,436.83599853515625 964.4459838867188,436.83599853515625 C964.4459838867188,436.83599853515625 886.64501953125,338.8909912109375 886.64501953125,338.8909912109375 C879.9299926757812,330.3110046386719 873.2059936523438,324.2070007324219 865.3720092773438,324.2070007324219 C853.0609741210938,324.2070007324219 842.9979858398438,333.39898681640625 842.9979858398438,346.45599365234375 C842.9979858398438,352.7969970703125 848.0780029296875,358.1409912109375 852.1820068359375,363.73699951171875 C852.1820068359375,363.73699951171875 941.3170166015625,475.4429931640625 941.3170166015625,475.4429931640625 C948.7780151367188,484.3970031738281 956.239013671875,488.5 965.93798828125,488.5"
                            fill-opacity="1"></path>
                    </clipPath>
                    <mask id="__lottie_element_70">
                        <path fill="#ffffff" clip-rule="nonzero"
                            d=" M1000.125,624.125 C1206.6099853515625,624.125 1374,791.5139770507812 1374,998 C1374,1204.4849853515625 1206.6099853515625,1371.875 1000.125,1371.875 C793.6400146484375,1371.875 626.25,1204.4849853515625 626.25,998 C626.25,791.5139770507812 793.6400146484375,624.125 1000.125,624.125"
                            fill-opacity="1"></path>
                        <path fill="#000000" clip-rule="nonzero"
                            d=" M1000.375,661.625 C1186.011962890625,661.625 1336.5,812.1129760742188 1336.5,997.75 C1336.5,1183.385986328125 1186.011962890625,1333.875 1000.375,1333.875 C814.7379760742188,1333.875 664.25,1183.385986328125 664.25,997.75 C664.25,812.1129760742188 814.7379760742188,661.625 1000.375,661.625"
                            fill-opacity="1"></path>
                    </mask>
                </defs>
                <g clip-path="url(#__lottie_element_61)">
                    <g clip-path="url(#__lottie_element_63)" transform="matrix(0.5,0,0,0.5,0,0)" opacity="1"
                        style="display: block;">
                        <g mask="url(#__lottie_element_70)"
                            transform="matrix(0.26600000262260437,0,0,0.26600000262260437,-164.40798950195312,-162.96800231933594)"
                            opacity="1" style="mix-blend-mode: difference; display: block;">
                            <rect width="2000" height="2000" fill="#007aff"></rect>
                        </g>
                        <g clip-path="url(#__lottie_element_67)" style="display: block;"
                            transform="matrix(0.26600000262260437,0,0,0.26600000262260437,-164.40826416015625,13.822250366210938)"
                            opacity="1">
                            <rect width="2000" height="2000" fill="#007aff"></rect>
                        </g>
                    </g>
                </g>
            </svg>
            <h1>Success</h1>
        </div>
        <div class="registerSuccess_message">
            <span>Your account has been successfully created.</span>
            <a href="/login">
                <button>Continue to Sign in</button>
            </a>
        </div>
    </div>
</section>