{{>header}}
<section class="section_register">
    <div class="register_container">
        <div class="registerTitle_container">
            <h1>Create your iStore Account</h1>
        </div>
        <form id="registerForm" action="/api/users/register" method="post">
            <div class="input_container_total">
                <span class="input_error" id="errors_username"></span>
                <div class="input_container">
                    <input class="input" id="username" type="text" name="username" placeholder="" autoComplete="off">
                    <span class="input_placeholder">Username</span>
                </div>
            </div>
            <div class="input_container_total">
                <span class="input_error" id="errors_first_name"></span>
                <div class="input_container">
                    <input class="input" id="first_name" type="text" name="first_name" placeholder=""
                        autoComplete="off">
                    <span class="input_placeholder">First Name</span>
                </div>
            </div>
            <div class="input_container_total">
                <span class="input_error" id="errors_last_name"></span>
                <div class="input_container">
                    <input class="input" id="last_name" type="text" name="last_name" placeholder="" autoComplete="off">
                    <span class="input_placeholder">Last Name</span>
                </div>
            </div>
            <div class="input_container_total">
                <span class="input_error" id="errors_email"></span>
                <div class="input_container">
                    <input class="input" id="email" type="email" name="email" placeholder="" autoComplete="off">
                    <span class="input_placeholder">Email Address</span>
                </div>
            </div>
            <div class="input_container_total">
                <span class="input_error" id="errors_password"></span>
                <div class="input_container">
                    <input class="input" id="password" type="password" name="password" placeholder=""
                        autoComplete="off">
                    <span class="input_placeholder">Password</span>
                    <div class="show_password_icon" id="showPasswordIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path
                                d="M 12 5 c -7.633 0 -9.927 6.617 -9.948 6.684 L 1.946 12 l 0.105 0.316 C 2.073 12.383 4.367 19 12 19 s 9.927 -6.617 9.948 -6.684 l 0.106 -0.316 l -0.105 -0.316 C 21.927 11.617 19.633 5 12 5 Z m 0 11 c -2.206 0 -4 -1.794 -4 -4 s 1.794 -4 4 -4 s 4 1.794 4 4 s -1.794 4 -4 4 Z" />
                            <path
                                d="M 12 10 c -1.084 0 -2 0.916 -2 2 s 0.916 2 2 2 s 2 -0.916 2 -2 s -0.916 -2 -2 -2 Z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="input_container_total">
                <span class="input_error" id="errors_age"></span>
                <div class="input_container">
                    <input class="input" id="age" type="number" name="age" placeholder="" autoComplete="off">
                    <span class="input_placeholder">Age</span>
                </div>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</section>
<script src="/js/login-register.js"></script>