{{>header}}
<section class="section_resetpassword">
    <form id="resetpasswordForm" action="/api/users/resetpassword" method="post">
        <h1>Enter the code that was sent to your email address:</h1>
        <span id="resetpassword_userEmail"></span>
        <div class="otp-container_total">
            <span class="input_error" id="errors_token"></span>
            <div class="otp-container">
                <input type="text" maxlength="1" class="otp-input" />
                <input type="text" maxlength="1" class="otp-input" />
                <input type="text" maxlength="1" class="otp-input" />
                <input type="text" maxlength="1" class="otp-input" />
                <input type="text" maxlength="1" class="otp-input" />
                <input type="text" maxlength="1" class="otp-input" />
            </div>
        </div>
        <input id="hideInputToken" type="hidden" name="token" placeholder="" autoComplete="off">
        <input id="hideInputEmail" type="hidden" name="email" placeholder="" autoComplete="off">
        <div class="input_container_total">
            <span class="input_error" id="errors_newPassword"></span>
            <div class="input_container">
                <input class="input" id="newPassword" type="password" name="password" placeholder="" autoComplete="off">
                <span class="input_placeholder">New password</span>
                <div class="show_password_icon" id="showNewPasswordIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path
                            d="M 12 5 c -7.633 0 -9.927 6.617 -9.948 6.684 L 1.946 12 l 0.105 0.316 C 2.073 12.383 4.367 19 12 19 s 9.927 -6.617 9.948 -6.684 l 0.106 -0.316 l -0.105 -0.316 C 21.927 11.617 19.633 5 12 5 Z m 0 11 c -2.206 0 -4 -1.794 -4 -4 s 1.794 -4 4 -4 s 4 1.794 4 4 s -1.794 4 -4 4 Z" />
                        <path d="M 12 10 c -1.084 0 -2 0.916 -2 2 s 0.916 2 2 2 s 2 -0.916 2 -2 s -0.916 -2 -2 -2 Z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="input_container_total">
            <span class="input_error" id="errors_confirmPassword"></span>
            <div class="input_container">
                <input class="input" id="confirmPassword" type="password" name="passwordConfirmation" placeholder=""
                    autoComplete="off">
                <span class="input_placeholder">Confirm new password</span>
                <div class="show_password_icon" id="showConfirmPasswordIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path
                            d="M 12 5 c -7.633 0 -9.927 6.617 -9.948 6.684 L 1.946 12 l 0.105 0.316 C 2.073 12.383 4.367 19 12 19 s 9.927 -6.617 9.948 -6.684 l 0.106 -0.316 l -0.105 -0.316 C 21.927 11.617 19.633 5 12 5 Z m 0 11 c -2.206 0 -4 -1.794 -4 -4 s 1.794 -4 4 -4 s 4 1.794 4 4 s -1.794 4 -4 4 Z" />
                        <path d="M 12 10 c -1.084 0 -2 0.916 -2 2 s 0.916 2 2 2 s 2 -0.916 2 -2 s -0.916 -2 -2 -2 Z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="resetpassword_btns">
            <a id="resetpassword_cancel" href="/requestpasswordreset">Cancel</a>
            <button id="resetpassword_submit" type="submit">Continue</button>
        </div>
    </form>
</section>
<script src="/js/login-register.js"></script>