<section class="section_ticket">
    <h1>You're all set.</h1>
    <span>We'll send purchase information and delivery updates to: <br>{{user.email}}</span>
    <a href="/products">Go to Store</a>
</section>