<section class="section_newArrivals">
    <div class="newArrivals_text">
        <h2>New Arrivals</h2>
        <span>Check out the latest products.</span>
        <a href="/products">Shop</a>
    </div>
    <div class="newArrivals_img">
        <img id="appleNewArrivals_desktop" src="../assets/images/cart/apple_new_arrivals_desktop.jpg" alt="New Arrivals">
        <img id="appleNewArrivals_mobile" src="../assets/images/cart/apple_new_arrivals_mobile.jpg" alt="New Arrivals">
    </div>
</section>