<footer>
    <section class="footer_1st_section">
        <ul class="footer_text_list">
            <li>
                <p>1. Trade-in values will vary based on the
                    condition, year, and configuration of your eligible trade-in device. Not all devices are eligible
                    for credit. You must be at least 18 years old to be eligible to trade in for credit or for an
                    Apple&nbsp;Gift&nbsp;Card. Trade-in value may be applied toward qualifying new device purchase, or
                    added to an Apple&nbsp;Gift&nbsp;Card. Actual value awarded is based on receipt of a qualifying
                    device matching the description provided when estimate was made. Sales tax may be assessed on full
                    value of a new device purchase. In-store trade-in requires presentation of a valid photo ID (local
                    law may require saving this information). Offer may not be available in all stores, and may vary
                    between in-store and online trade-in. Some stores may have additional requirements. Apple or its
                    trade-in partners reserve the right to refuse or limit quantity of any trade-in transaction for any
                    reason. More details are available from Apple's trade-in partner for trade-in and recycling of
                    eligible devices. Restrictions and limitations may apply.</p>
            </li>
            <li><span> Available in the U.S. on <a href="http://localhost:8080/">istore.com</a>, in the Apple&nbsp;Store
                    app, and at Apple&nbsp;Stores.</span></li>
            <li>
                <p>To access and use all Apple&nbsp;Card features and products available only to Apple&nbsp;Card users,
                    you must add Apple&nbsp;Card to Wallet on an iPhone or iPad that supports and has the latest version
                    of iOS or iPadOS. Apple&nbsp;Card is subject to credit approval, available only for qualifying
                    applicants in the United States, and issued by Goldman Sachs Bank USA, Salt Lake City Branch.</p>
            </li>
            <li><span>If you reside in the U.S. territories, please call Goldman Sachs at 877-255-5923 with questions
                    about Apple&nbsp;Card.</span></li>
            <li><span>Learn more about how Apple&nbsp;Card applications are evaluated at <a
                        href="https://support.istore.com/kb/HT209218">support.istore.com/kb/HT209218</a>.</span></li>
            <li><span>A subscription is required for Apple&nbsp;TV+.</span></li>
        </ul>
    </section>
    <section class="footer_2nd_section">
        <div class="footer_copy-legal_container">
            <div class="footer_copyright">
                <p>Copyright ©2024 Apple Inc. All rights reserved.</p>
            </div>
            <ul class="footer_legal">
                <li><span>Privacy Policy</span></li>
                <li><span>Terms of Use</span></li>
                <li><span>Sales and Refunds</span></li>
                <li><span>Legal</span></li>
                <li><span>Site Map</span></li>
            </ul>
        </div>
        <div class="footer_country">
            <span>Argentina</span>
        </div>
    </section>
</footer>