<div class="headerPage_container" id="headerPage_container">
    <div class="headerPage">
        <h3 class="headerPage_title">{{title}}</h3>
        <div class="headerPage_buttons">
            <a href="#header_global"><button class="goUp_btn" type="button" id="headerPage_goUpbtn">Go Up</button></a>
            {{>themeButton}}
        </div>
    </div>
</div>
<script src="/js/headerSrcollPage.js"></script>