<div class="themeChanger_container">
    <button class="themeChanger" id="themeChanger_light" type="button">Light</button>
    <button class="themeChanger" id="themeChanger_dark" type="button">Dark</button>
    <button class="themeChanger" id="themeChanger_auto" type="button">Auto</button>
</div>
<script src="/js/themeButton.js"></script>